# Assignment

We will work with a dataset of movies from IMDB included with the assignment; source: https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset?select=IMDb+movies.csv

Before you begin, run the code in this notebook to see the output. Go to the Cell menu, and press Run All.

In [1]:
%matplotlib inline
import pandas as pd
import seaborn as sns
df = pd.read_csv('IMDb movies.csv', low_memory=False)
df.year = pd.to_numeric(df.year, errors='coerce')  # replace some invalid year values with 'NaN'
df = df.dropna(subset=['year', 'actors'])  # drop rows with missing values in this column
df.shape

(85785, 22)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85785 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85785 non-null  object
 1   title                  85785 non-null  object
 2   original_title         85785 non-null  object
 3   year                   85785 non-null  float64
 4   date_published         85785 non-null  object
 5   genre                  85785 non-null  object
 6   duration               85785 non-null  int64
 7   country                85724 non-null  object
 8   language               84960 non-null  object
 9   director               85712 non-null  object
 10  writer                 84249 non-null  object
 11  production_company     81360 non-null  object
 12  actors                 85785 non-null  object
 13  description            83675 non-null  object
 14  avg_vote               85785 non-null  float64
 15  votes                  85785 non-null  int64
 16  budget                 23703 non-null  object
 17  usa_gross_income       15321 non-null  object
 18  worlwide_gross_income  30992 non-null  object
 19  metascore              13299 non-null  float64
 20  reviews_from_users     78206 non-null  float64
 21  reviews_from_critics   74010 non-null  float64
dtypes: float64(5), int64(2), object(15)
memory usage: 15.1+ MB

In [3]:
df.describe()

,year,duration,avg_vote,votes,metascore,reviews_from_users,reviews_from_critics
count,85785.000000,85785.000000,85785.000000,8.578500e+04,13299.000000,78206.000000,74010.000000
mean,1993.491450,100.363700,5.898293,9.500494e+03,55.887962,46.062540,27.489447
std,24.216793,22.546805,1.234680,5.359558e+04,17.782702,178.567425,58.354913
min,1894.000000,41.000000,1.000000,9.900000e+01,1.000000,1.000000,1.000000
25%,1979.000000,88.000000,5.200000,2.050000e+02,43.000000,4.000000,3.000000
50%,2002.000000,96.000000,6.100000,4.850000e+02,57.000000,9.000000,8.000000
75%,2013.000000,108.000000,6.800000,1.769000e+03,69.000000,27.000000,23.750000
max,2020.000000,808.000000,9.900000,2.278845e+06,100.000000,10472.000000,999.000000

In [4]:
df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

# Questions

For each question below, fill in the code to compute the answer. Each cell contains a template with the expected variable name and code that produces a wrong answer, but with the right type and format. Don't change the variable name or the type. Answers will be graded with automatic tests where possible.

In [5]:
# Example:
# 0. What is the longest movie?
# Template:
example = df.head(1)
# Replace with your code:
example = df.nlargest(1, 'duration')

In [6]:
# To show the result:
example

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
85057,tt9047474,La flor,La flor,2016.0,2018-09-21,"Drama, Fantasy, Musical",808,Argentina,"Catalan, Spanish, French, English, Russian, Ge...",Mariano Llinás,...,"Elisa Carricajo, Valeria Correa, Pilar Gamboa,...","A film in six episodes, connected by the same ...",7.7,473,NaN,$ 4032,$ 4032,77.0,5.0,23.0

1. What is the movie with the highest "avg_vote"?

In [7]:
highestrated = df.head(1)
# your code here

In [8]:
highestrated

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894.0,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0

2. In which years was 'Steven Spielberg' a director of movies?

In [9]:
spielbergyears = df['year']
# your code here

In [10]:
spielbergyears

0        1894.0
1        1906.0
2        1911.0
3        1912.0
4        1911.0
          ...
85850    2020.0
85851    2020.0
85852    2019.0
85853    2019.0
85854    2019.0
Name: year, Length: 85785, dtype: float64

3. What is the movie with the highest metascore from the 1950s? (from 1950 up to 1959, 1960 does not count)

In [11]:
highestmeta50s = df.head(1)
# your code here

In [12]:
highestmeta50s

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894.0,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0

4. What is the longest movie with Nicolas Cage? (NB: the actors are given as comma-separated list, you have to check whether Nicolas Cage is in the list)

In [13]:
cage = df.head(1)
# your code here

In [14]:
cage

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894.0,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0

5. What is the total US income (usa_gross_income) of movies directed by Christopher Nolan?

Note: for some movies, the value for usa_gross_income is missing; drop those movies. You also need to strip the "$" from the income values and convert them to a numeric value.

In [15]:
nolanincome = 0
# your code here

In [16]:
nolanincome

0

6. Consider the movies with a metascore > 90 (critic favorites). Group them by year. Which year has the lowest average rating (avg_vote)?

In [17]:
worstcriticfavorite = pd.Series({1900: 1.0, 1901: 1.0})
# your code here

In [18]:
worstcriticfavorite

1900    1.0
1901    1.0
dtype: float64

7a. Make a plot of the total number of votes for movies in each year.

In [19]:
# your code here

7b. In which year did movies get the most votes?

In [20]:
mostvotes = pd.Series({1900: 0})
# your code here

In [21]:
mostvotes

1900    0
dtype: int64

8a. Is there a relationship between year and the average rating (avg_vote)? Make a scatter plot with year on the x-axis and avg_vote on the y-axis.

In [22]:
# your code here

8b. What is the correlation coefficient?

In [23]:
corr = 0.5
# your code here

In [24]:
corr

0.5

9. Think of an interesting question involving two or more variables and answer it with a table or plot.

In [25]:
# your code here